<%- include('../layout/upper.ejs') %>
</head>
<body>
    <%- include('../layout/nav.ejs') %>
    <main>
        <h1 align="center"> Welcome to Apni Dukan</h1>
    </main>
<%- include('../layout/lower.ejs') %>   